rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
    // Allow users to create a document for themselves in the users collection
    match /users/{document=**} {
      allow create: if request.auth != null && request.resource.id == request.auth.uid && request.resource.data.uid == request.auth.uid;
    }
  
    // Only the authenticated user who authored the document can read, write, or create document
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == resource.data.uid && request.auth.uid == userId;
    }
    
    // Allow users to create a document for themselves in the decks collection
    match /decks/{document=**} {
      allow create: if request.auth != null && request.resource.id.matches(".*::"+request.auth.uid) == true && request.resource.data.userId == request.auth.uid;
    }
    
    match /decks/{deckId} {
      allow read: if true;
      allow update: if request.auth != null && request.auth.uid == resource.data.userId && request.resource.id.matches(".*::"+request.auth.uid) == true;
      allow delete: if request.auth != null && request.auth.uid == resource.data.userId && resource.id.matches(".*::"+request.auth.uid) == true;
    }
    
    // Rules for the challenges collection
    match /challenges/{challengeId} {
      allow read: if true;
      // TODO: clean these up if changes work as expected
      // Allow authenticated users to create challenges
      // allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
      // Allow only the creator to update or delete their challenge
      // allow update, delete: if request.auth != null && resource.data.userId == request.auth.uid;
      allow update: if request.auth != null && request.auth.uid == resource.data.userId && request.resource.id.matches(".*::"+request.auth.uid) == true;
      allow delete: if request.auth != null && request.auth.uid == resource.data.userId && resource.id.matches(".*::"+request.auth.uid) == true;
    }
  }
}